* {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.bgimage {
  background-image: url('../image/pic6.jpg');
  background-size: 100% 110%;
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  height: 173px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.first-top {
  padding-left: 40px;
  width: 35%;
  height: 140px;
  padding-top: 30px;
  float: left;
  font-family: 'Montserrat', sans-serif;
}
.first-top h2:hover {
  color: #86a0ba;
}

.second-top {
  float: right;
  overflow: hidden;
  width: 40%;
  height: 95px;
  margin-right: 4%;
  padding-top: 40px;
}

.second-top ul li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.second-top ul li:hover {
  background-color: gray;
  overflow: none;
}

.second-top ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

.text {
  width: 100%;
  margin-top: 185px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.text h4 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.text h1 {
  font-size: 62px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  margin: 14px 0px;
}

.text h3 {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

#buttonone {
  background-color: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  border: 3px solid white;
}

#buttonone:hover {
  background-color: #312233;
}

#buttontwo {
  background-color: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  border: 3px solid white;
  width: 250px;
  color: white;
}
#buttontwo:hover {
  background-color: #312233;
}
